<h1>Site Map for <%= @crawled_site.domain_root.url %></h1>


<% @crawled_site.sitemap.each do |page| %>
  <h2><%= page.first %></h2>

  <br>

  <h4 class="toggle-option">Page Links</h4>
  <%= render partial: "data_iterate", locals: { payload: page[1][:page_links]} %>

  <br>

  <h4 class="toggle-option">Images</h4>
  <%= render partial: "data_iterate", locals: { payload: page[1][:images]} %>

  <br class="toggle-option">

  <h4>Iframes</h4>
  <%= render partial: "data_iterate", locals: { payload: page[1][:iframes]} %>
<% end %>
